aiogram
aiohttp
aiosignal
async-timeout
asyncpg
attrs
Babel
certifi
charset-normalizer
environs
frozenlist
idna
logzero
marshmallow
multidict
packaging
pyparsing
python-dotenv
pytz
requests
urllib3
yarl
